node_modules

*storybook.log
storybook-static

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
# Build outputs
.next/
out/
tsconfig.tsbuildinfo

# Environment files
.env
.env.local
.env.production
.env.*.local
.env.local
.env.local.template
.env.production
